body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    background-image: url("Images/table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;    
}

button {
    background-color: goldenrod;
    color: #016f32;
    width: 10rem;
    font-weight: bold;
    padding: .5rem;
    border: none;
    border-radius: .2rem;
    margin: .2rem .1rem

}